unstructured
reportlab
fastapi
uvicorn
python-docx
PyMuPDF
pandas
geopandas
shapely
rasterio
folium
tqdm
python-dotenv
python-multipart
numpy
accelerate
transformers
sentence-transformers
openai
sentencepiece
huggingface_hub
torch
llama-index-llms-huggingface
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-core
llama-index
langchain_community
langchain
chromadb
faiss-cpu
vllm






