fastapi
uvicorn

python-dotenv
requests

anthropic
huggingface_hub

qdrant-client
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface

sentence-transformers
torch
transformers
sentencepiece

pdfplumber
python-docx
pandas
reportlab

langchain
langchain_community

aiohttp
anyio
overpy
